

/*Time to finalise the cloud shape*/
body{
	overflow-x: hidden;
}
#mapa{
	position: relative;
}

#nube{
	animation-name:  traslation;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	position: absolute;
	
	
}


/*
.historia{
    color:#779743
}
.oficina{
    color:#44d2d5
}
.granjas{
    color:#b2db63
}
.plantas{
    color:#f06650
}
.produccion{
    color:#48ae95
}
.comunidad{
    color:#4b95c0
}
*/


.modal{
	display: flex;
	align-items: center;
	justify-content: center;

}

.icon-button-historia{
	top: 400px;
	left: 910px;
	display: flex;
	position: relative;
}

.icon-button-oficina{
	top: 565px;
	left: 650px;
	display: flex;
	position: relative;
}

.icon-button-comunidad{
	top: 510px;
	left: 2080px;
	display: flex;
	position: relative;
}
.icon-button-produccion{
	top: 380px;
	left: 3380px;
	display: flex;
	position: relative;
}
.icon-button-granjas{
	top: 470px;
	left: 80px;
	display: flex;
	position: relative;
}
.icon-button-plantas{
	top: 440px;
	left: 4150px;
	display: flex;
	position: relative;
}



@media only screen and (max-width: 1600px) {
	.icon-button-historia{
		top: 380px;
		left: 920px;
		display: flex;
		position: relative;
	}

	.icon-button-oficina{
		top: 565px;
		left: 680px;
		display: flex;
		position: relative;
	}

	.icon-button-comunidad{
		top: 490px;
		left: 2100px;
		display: flex;
		position: relative;
	}
	.icon-button-produccion{
		top: 380px;
		left: 3350px;
		display: flex;
		position: relative;
	}
	.icon-button-granjas{
		top: 500px;
		left: 120px;
		display: flex;
		position: relative;
	}
	.icon-button-plantas{
		top: 430px;
		left: 4150px;
		display: flex;
		position: relative;
	}
}


/* NOTEBOOKS - ICONS MAP */
@media only screen and (max-width: 1280px) {
	.icon-button-historia{
		top: 380px;
		left: 920px;
		display: flex;
		position: relative;
	}

	.icon-button-oficina{
		top: 600px;
		left: 640px;
		display: flex;
		position: relative;
	}

	.icon-button-comunidad{
		top: 520px;
		left: 2080px;
		display: flex;
		position: relative;
	}

	.icon-button-produccion{
		top: 440px;
		left: 3960px;
		display: flex;
		position: relative;
	}

	.icon-button-granjas{
		top: 480px;
		left: 80px;
		display: flex;
		position: relative;
	}

	.icon-button-plantas{
		top: 375px;
		left: 3600px;
		display: flex;
		position: relative;
	}
}

/* TABLETS - ICONS MAP */
@media only screen and (max-width: 768px) {
    .icon-button-historia{
        top: 420px;
        left: 1000px;
        display: flex;
        position: relative;
    }

    .icon-button-oficina{
        top: 650px;
        left: 760px;
        display: flex;
        position: relative;
    }

    .icon-button-comunidad{
        top: 530px;
        left: 2290px;
        display: flex;
        position: relative;
    }
    .icon-button-produccion{
        top: 400px;
        left: 3770px;
        display: flex;
        position: relative;
    }
    .icon-button-granjas{
        top: 510px;
        left: 180px;
        display: flex;
        position: relative;
    }
    .icon-button-plantas{
        top: 475px;
        left: 4500px;
        display: flex;
        position: relative;

    }
}

/* MOBILE 6/7/8 PLUS - ICONS MAP*/
@media only screen and (max-width: 414px) {
	.icon-button-historia{
        top: 320px;
        left: 600px;
        display: flex;
        position: relative;
    }
	.icon-button-oficina{
        top: 430px;
        left: 380px;
        display: flex;
        position: relative;
    }
	.icon-button-comunidad{
        top: 390px;
        left: 1517px;
        display: flex;
        position: relative;
    }
	.icon-button-produccion{
        top: 330px;
        left: 2550px;
        display: flex;
        position: relative;
    }
	.icon-button-granjas{
        top: 370px;
        left: -120px;
        display: flex;
        position: relative;
    }
	.icon-button-plantas{
        top: 350px;
        left: 3225px;
        display: flex;
        position: relative;

    }
}

/* MOBILE X - ICONS MAP*/
@media only screen and (max-width: 375px) {
	.icon-button-historia{
        top: 350px;
        left: 690px;
        display: flex;
        position: relative;
    }
	.icon-button-oficina{
        top: 500px;
        left: 450px;
        display: flex;
        position: relative;
    }
	.icon-button-comunidad{
        top: 450px;
        left: 1717px;
        display: flex;
        position: relative;
    }
	.icon-button-produccion{
        top: 330px;
        left: 2880px;
        display: flex;
        position: relative;
    }
	.icon-button-granjas{
        top: 420px;
        left: -50px;
        display: flex;
        position: relative;
    }
	.icon-button-plantas{
        top: 380px;
        left: 3560px;
        display: flex;
        position: relative;

    }
}


.btn-map-historia{
	font-size: 14px;
	background-color: #7e9e47;
	color: white;
	font-weight: bolder;
	padding: 3px 10px;
	border-radius: 20px;
	display: flex;
	justify-content: "center";
	align-items: "center";
}

.btn-map-planta{
	font-size: 14px;
	background-color: #774a4b;
	color: white;
	font-weight: bolder;
	padding: 3px 10px;
	border-radius: 20px;
	display: flex;
	justify-content: "center";
	align-items: "center";
	
}
.btn-map-produccion{
	font-size: 14px;
	background-color: #34b29a;
	color: white;
	font-weight: bolder;
	padding: 3px 10px;
	border-radius: 20px;
	display: flex;
	justify-content: "center";
	align-items: "center";
}

.btn-map-comunidad{
	font-size: 14px;
	background-color: #01a0c6;
	color: white;
	font-weight: bolder;
	padding: 3px 10px;
	border-radius: 20px;
	display: flex;
	justify-content: "center";
	align-items: "center";
}

.btn-map-oficina{
	font-size: 14px;
	background-color: #22d7d9;
	color: white;
	font-weight: bolder;
	padding: 3px 10px;
	border-radius: 20px;
	display: flex;
	justify-content: "center";
	align-items: "center";
}

.btn-map-granjas{
	font-size: 14px;
	background-color: #f96f5a;
	color: white;
	font-weight: bolder;
	padding: 3px 10px;
	border-radius: 20px;
	display: flex;
	justify-content: "center";
	align-items: "center";
}


  /* GRANJAS  
@-webkit-keyframes changeColorGr {
	0% {-webkit-color: #fff;}
 	50% {-webkit-color: #b8de6a;}
	100%{-webkit-color: #fff;}
}
@keyframes changeColorGr {
	0% {color: #fff;}
 	50% {color: #b8de6a;}
	100%{color: #fff;}
}*/



/* OFICINA CENTRAL  
@-webkit-keyframes changeColorO {
	0% {-webkit-color: #fff;}
 	50% {-webkit-color: #22d7d9;}
	100%{-webkit-color: #fff;}
}
@keyframes changeColorO {
	0% {color: #fff;}
 	50% {color: #22d7d9;}
	100%{color: #fff;}
}*/



/* COMUNIDAD  

@-webkit-keyframes changeColorC {
	0% {-webkit-color: #fff;}
 	50% {-webkit-color: #22d7d9;}
	100%{-webkit-color: #fff;}
}
@keyframes changeColorC {
	0% {color: #fff;}
 	50% {color: #22d7d9;}
	100%{color: #fff;}
}*/



/* PRODUCCION RESPONSABLE  

@-webkit-keyframes changeColorPr {
	0% {-webkit-color: #fff;}
 	50% {-webkit-color: #34b29a;}
	100%{-webkit-color: #fff;}
}

@keyframes changeColorPr {
	0% {color: #fff;}
 	50% {color: #34b29a;}
	100%{color: #fff;}
}*/


/* PLANTAS INDUSTRIALES 
@-webkit-keyframes changeColorPr {
	0% {-webkit-color: #fff;}
 	50% {-webkit-color: #f96f5a;}
	100%{-webkit-color: #fff;}
}
@keyframes changeColorPi {
	0% {color: #fff;}
 	50% {color: #f96f5a;}
	100%{color: #fff;}
}*/


/* HISTORIA  
@-webkit-keyframes changeColor {
	0% {-webkit-color: #fff;}
 	50% {-webkit-color: #7e9e47;}
	100%{-webkit-color: #fff;}
}
@keyframes changeColor {
	0% {color: #fff;}
 	50% {color: #7e9e47;}
	100%{color: #fff;}
}*/


/* NUBES  */
@keyframes traslation {
	0%{right: 0px}
	50%{right: 500px}
	100%{right: 0px}
}