/*Time to finalise the cloud shape*/
body{
	overflow-x: hidden;
}
#mapa{
	position: relative;
}

#nube{
	animation-name:  traslation;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	position: absolute;
	
	
}
.modal{
	display: flex;
	align-items: center;
	justify-content: center;

}
.icon-button-historia{
	top: 400px;
	left: 1350px;
	display: flex;
	position: relative;
}

.icon-button-oficina{
	top: 590px;
	left: 1170px;
	display: flex;
	position: relative;
}

.icon-button-comunidad{
	top: 449px;
	left: 2380px;
	display: flex;
	position: relative;
}
.icon-button-produccion{
	top: 449px;
	left: 3490px;
	display: flex;
	position: relative;
}
.icon-button-granjas{
	top: 480px;
	left: 700px;
	display: flex;
	position: relative;
}
.icon-button-plantas{
	top: 439px;
	left: 4150px;
	display: flex;
	position: relative;
	
}

@media all and (max-width: 380px) {
	.icon-button-historia{
		top: 360px;
		left: 1150px;
		display: flex;
		position: relative;
	}
	.icon-button-oficina{
		top: 530px;
		left: 940px;
		display: flex;
		position: relative;
	}
	.icon-button-comunidad{
		top: 370px;
		left: 2030px;
		display: flex;
		position: relative;
	}
	.icon-button-produccion{
		top: 320px;
		left: 2970px;
		display: flex;
		position: relative;
	}
	.icon-button-granjas{
		top: 410px;
		left: 450px;
		display: flex;
		position: relative;
	}
	.icon-button-plantas{
		top: 380px;
		left: 3550px;
		display: flex;
		position: relative;
		
	}
}

@media all and (min-width: 410px) {
	.icon-button-historia{
		top: 320px;
		left: 1010px;
		display: flex;
		position: relative;
	}
	.icon-button-oficina{
		top: 475px;
		left: 840px;
		display: flex;
		position: relative;
	}
	.icon-button-comunidad{
		top: 350px;
		left: 1820px;
		display: flex;
		position: relative;
	}
	.icon-button-produccion{
		top: 300px;
		left: 2680px;
		display: flex;
		position: relative;
	}
	.icon-button-granjas{
		top: 380px;
		left: 480px;
		display: flex;
		position: relative;
	}
	.icon-button-plantas{
		top: 345px;
		left: 3220px;
		display: flex;
		position: relative;
		
	}
}



.btn-map-historia{
	animation: changeColor 3s;
	animation-iteration-count: infinite;
}

.btn-map-planta{
	animation:changeColorPi 3s;
	animation-iteration-count: infinite;
}
.btn-map-produccion{
	animation:changeColorPr 3s;
	animation-iteration-count: infinite;
}

.btn-map-comunidad{
	animation:changeColorC 3s;
	animation-iteration-count: infinite;
}

.btn-map-oficina{
	animation:changeColorO 3s;
	animation-iteration-count: infinite;
}

.btn-map-granjas{
	animation:changeColorGr 3s;
	animation-iteration-count: infinite;
}



@keyframes changeColorGr {
	0% {color: #fff;}
 	50% {color: #b8de6a;}
	100%{color: #fff;}
}

@keyframes changeColorO {
	0% {color: #fff;}
 	50% {color: #22d7d9;}
	100%{color: #fff;}
}
@keyframes changeColorC {
	0% {color: #fff;}
 	50% {color: #459fc7;}
	100%{color: #fff;}
}

@keyframes changeColorPr {
	0% {color: #fff;}
 	50% {color: #34b29a;}
	100%{color: #fff;}
}

@keyframes changeColorPi {
	0% {color: #fff;}
 	50% {color: #f96f5a;}
	100%{color: #fff;}
}


@keyframes changeColor {
	0% {color: #fff;}
 	50% {color: #7e9e47;}
	100%{color: #fff;}
}



@keyframes traslation {
	0%{right: 0px}
	50%{right: 500px}
	100%{right: 0px}
}